<div class="formUser">
    <form action="/toMongo">
        <label>Введите бренд
            {{!-- <input type="text" name="brand"> <br><br> --}}
            <select name="brand" id="">
                <option value="bershka">Bershka</option>
                <option value="chanel">Chanel</option>
                <option value="gucci">Gucci</option>
                <option value="adidas">Adidas</option>
            </select>
        </label> <br><br>
        <label>Введите размер
            <input type="number" name="size"> <br><br>
        </label>
        <label>Введите цвет
            <input type="text" name="color"> <br><br>
        </label>
        <label>Введите цвет
            <input type="date" name="date"> <br><br>
        </label>
        <input class="btn" type="submit">
    </form>
</div>